{% extends "navbar.html" %}
{% load static %}

{% block content %}
<style>
 h2,p,h3,h6,h1,h5,h4{
     font-family: "Times New Roman", Times, serif
 }
</style>
<div id="intro" class="basic-1">
    <h1 style="color:white; padding: 25px; background: #ff8000;text-align: center;">Contact Us</h1>
    <div class="container">
        <div class="text-container">
        </div> 
        <br>

        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <h3>Get in touch!</h3>
                    <p>
                        <b>We're here to help and answer any question you might have. We look forward to hearing from you!
                            <br>
                            Connect with us through the following ways.
                        </b>
                    </p>

                    <br>

                    <h5>Email:</h5>
                    <p><a href="mailto:xyz@gmail.com">xyz@gmail.com</a></p>
                    <p><a href="mailto:abc@gmail.com">abc@gmail.com</a></p>

                    <br>

                    <h5>Phone:</h5>
                    <p>Dr. mno: 100 <i class="fa fa-whatsapp" style="font-size:20px;color: green"></i></p>
                    <p>Mrs. xyz: +91 100<i class="fa fa-whatsapp" style="font-size:20px;color: green"></i></p>

                    <br>
                    <br>

                    <h4>Facing technical difficulties?</h4>
                    <p><b>Connect with our tech team!</b></p>

                    <br>

                    <h5>Email:</h5>

                    <p><a href="mailto:xyz@gmail.com">vyom.autismselfhelp.tech@gmail.com</a></p>

                </div> 
            </div>
            <div class="col-lg-7">

                <iframe src="https://docs.google.com/forms/d/e/hmmm" 
                        width="640" 
                        height="805" 
                        frameborder="0" 
                        marginheight="0" 
                        marginwidth="0">
                        Loading…
                </iframe>
            </div>
        </div> 
    </div>
    </div> 
</div> 


<div class="basic-2 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Looking for someone specific?</h3>
                <p class="p-heading">Reach out to out team members. Read more about them <a href="{% url 'team' %}">here</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="display: inline-block;">
                    <div class="card-body">
                        <h6 class="card-title">Mrs. abc</h6>
                        <p class="card-subtitle">Founder, Coordinator</p>
                        <br>
                        <p><b><a href="mailto:xyz@gmail.com" style="color: #fafaf8;">xyz@gmail.com</a></b></p>
                    </div>
                </div>

                <div class="card" style="display: inline-block;">
                    <div class="card-body">
                        <h6 class="card-title">Dr. abc</h6>
                        <p class="card-subtitle">Founder, Creative head</p>
                        <br>
                        <p><b><a href="mailto:xyz@gmail.com" style="color: #fafaf8;">xyz@gmail.com</a></b></p>
                    </div>
                </div>

                <div class="card" style="display: inline-block;">
                    <div class="card-body">
                        <h6 class="card-title">Mr.mno</h6>
                        <p class="card-subtitle">Founder, Executive Director</p>
                        <br>
                        <p><b><a href="mailto:xyz@gmail.com" style="color: #fafaf8;">xyz@gmail.com</a></b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
